/*
//Michael Bain
//1306
//Advanced Scalable Data

*/
/*Homepage*/
#add{color: #fff;background:#ffA07A;width:315px;margin-left:3px;margin-bottom:-3px;height:50px;line-height:32px;
	
}
#artist{background:#68838B;width:155px;height:145px;margin-left:3px;margin-bottom:-3px;line-height:115px;
	
}
#song{width:155px;height:145px;margin-left:5px;margin-bottom:-3px;line-height:115px;
	
}

#writer{width:155px;height:145px;margin-left:3px;margin-bottom:-3px;line-height:115px;
	
}

#publisher{background:#68838B;width:155px;height:145px;margin-left:5px;margin-bottom:-3px;line-height:115px;
	
}

#browse{background:#008b8b;width:315px;margin-left:3px;height:50px;line-height:32px;color:#fff;
	
}

#display{background: #fff;color:#68838B;
	
}

.ui-page#newForm{background-color:#fff;
	
}

#back{background:#68838B;line-height:20px;
	
}
#newFormHead{white-space:normal;

	
}
/*Sampled or New*/
#sampledBtn{width:155px;height:155px;margin-top:30px;margin-right:50px;margin-left:82px;line-height:130px;color:#fff;
	
}

#newBtn{width:155px;height:155px;margin-left:82px;margin-top:40px;line-height:130px;color:#fff;;background:#68838B

}
/*NEW MUSIC*/
#textarea-1{margin-bottom:20px;padding-bottom:35px;
	
}


.ui-header{background:#68838B
	
}
/*Form*/
.ui-page#form{background-color:#ffffff;
}

.ui-slider-handle{background-color:#ffA07A;
	
}


#formHead{background-color:#68838B;border:0px;
}

#formFoot{background-color:#68838B;border:0px;
	
}
#pgBrowse{background-color:#68838B;border:0px;
	
}

#sFormat{color:#2c3e50;margin-top:70px;
	
}

.ui-page{
background-color:#282828;

}